:root {
  font-family: 'SFProFont', sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  --color-primary: #747bff;
  --color-secondary: #ff7477;
  --color-accent: #ffe259;
  --color-bg: #242424;
  --color-text: #ffffffde;
  --color-nav-bg: #333;
  --color-nav-text: #ffffff;
  --color-loading-bg: #f4f4f4;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  max-width: calc(100svw - (100svw - 100%)); 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  transition: all 0.3s ease-in-out;
}

p {
  margin: 0;
  padding: 0.5em 0;
  font-size: 1.2em;
  text-align: start;
}

img {
  width: 10em;
  height: 10em;
  border-radius: 1rem;
}


li > a:hover,
li > a:hover ~ ul li a {
  background-color: rgba(51, 51, 51, 0.7);
  filter: brightness(1.2);
  color: #ebebee;
}

li a {
  position: sticky;
  left: 0;
  right: 0;
  display: inline-block;
  text-decoration: none;
  color: var(--color-text);
  filter: brightness(1);
  border: 2px solid rgba(51, 51, 51, 0.7);
  padding: .3em .5em;
  border-radius: .5em;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #242424;
    --color-bg: #ffffff;
  }

  nav {
    --color-bg: #ffffff;
  
  }
}



@font-face {
  font-family: 'SFProFont';
  src: url('sanfrancisco.ttf') format('truetype');
}